body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: KGThankYouStamp;
  src: url(KgThankYouStamp-M9Wn.ttf);
}

#navTitleGoHome{
  text-decoration: none;
  color: black;
}

.title {
  font-family: KGThankYouStamp;
  color: black;
  font-size: 5rem;
  letter-spacing: .3rem;
  padding-top: 60px;
}

.hiddenVotersContainer{
  display: none;
}

.homePageContainer{
  background-image: url("images/tiedye.jpg");
  background-size: cover;
  background-repeat: repeat;
  min-height: 100%;
  align-items: center;
  text-align: center;
}

.homeButton{
  width: 440px;
  height: 150px;
  font-size: 33px;
  font-weight: bold;
  font-family: monospace;
  background-color: rgb(255, 255, 255, .5);
  border: 7px solid black;
  color: black;
}

.homeButton:hover{
    background-color: rgba(59, 158, 216, 0.5);
    font-weight: bold;
    cursor: pointer;
}


#button1home {
  margin-right: 25px;
}

#button2home {
  margin-left: 25px;
}

.homeNavItem{
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#button3home{
  margin-top: 50px;
  margin-bottom: 90px;
}

.buttonContainerHome{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}

* {
  padding: 0;
  box-sizing: border-box;
  /* margin: 5px; */
}

.deleteInput{
  padding: 10px;
  width: 230px;
}

select{
  font-size: 20px;
  padding: 5px;
}

#submit{
  font-size: 18px;
  padding: 8px;
}

.inputText{
  font-size: 14px;
  height: 45px;
  padding: 15px 25px;
  width: 300px;
  text-align: left;
  padding-left: 10px;
}

h3, h2{
  font-size: 90px;
  font-weight: bold;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  vertical-align: center;
  text-shadow: 2px 2px rgb(9, 11, 96);
  color: rgb(81, 114, 202);
  margin: auto;
  padding: 10px 0;
}

.middleContainer{
  height: 400px;
  background-color: white;
  text-align: center;
  align-items: center;
  vertical-align: center;
  padding: 10px 0;
}

.formHeading{
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 28px;
  color: rgb(181, 225, 218);
  text-shadow: 2px 2px rgb(48, 96, 179);
}

label{
  font-family: monospace;
  margin-bottom: 7px;
  font-size: 20px;
  padding-top: 10px;
}

.formHeading2{
  text-align: center;
  font-family: KGThankYouStamp;
  font-size: 70px;
  letter-spacing: .05em;
  font-weight: bold;
  padding-bottom: 28px;
  color: rgb(0, 0, 0);
  text-shadow: 2px 2px rgb(120, 167, 187);
  line-height: 1;
}

.formHeading3{
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  padding-bottom: 28px;
  color: rgb(53, 28, 99);
  text-shadow: 2px 2px rgb(48, 135, 179);
  line-height: 1;
}

#newVoterForm {
  border: 6px solid rgb(197, 231, 242);
  padding: 4em;
  display: flex;
  align-items: left;
  text-align: left;
  justify-content: left;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: 700px;
  flex-direction: column;
  border-radius: 10px;
  background-color: white;
}

.flexBoxContainer{
  display: flex;
}

.flexBox{
  flex-direction: row;
}

.formBackground{
  margin: 0;
  padding-bottom: 50px;
}

.voterGridContainer{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns:[full-start] 1fr [content-start] 1fr [content-end] 1fr [full-end];
  grid-gap: 10px;
  justify-content: space-between;
  align-content: space-around;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.navBarContainer{
  background-image: url('images/tiedye.jpg');
  opacity: .8;
  height: 6.5em;
  width: 100%;
  margin: 0;
  position: relative;
  background-size:cover;
  background-position: bottom center;
}

#nav1, #nav2, #nav3, #nav4{
  padding: 0 2rem;
  color: black;
  font-family: monospace;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#nav2:hover,
#nav3:hover,
#nav4:hover, .active{
  border-bottom: 2px solid black;
}

/* .navBarList{
  width: 80%;
  float: right;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 18px;
} */

.navBarList {
  width: 55%;
  height: 100%;
  position: relative;
  float: right;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

.hidden{
  display: none;
}

.gridItem{
  padding-top: 8px;
  padding-bottom: 8px;
  justify-items: center;
  align-self: center;
  justify-self: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .row2{
  justify-self: center;
  align-self: center;
}

.row3{
  justify-self: end;
  align-self: center;
}

.row1{
  justify-self: start;
  align-self: center;
} */

.voterContainerBlack{
  padding: 15px 10px;
  border: .8px solid black;
  width: 300px;
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.voterContainerRed {
  padding: 15px 10px;
  display: inline-grid;
  border: .8px solid red;
  width: 300px;
  align-items: center;
  text-align: center;
}

.candidate-headshot{
  max-width: 350px;
  height: auto;
  width: auto;
  max-height: 300px;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  border: 2px solid black;
}

.candidateIssueDescription{
  padding: 8px;
}

.candidateButton{
  padding: 10px;
}

.candidateIssueTitle{
  color: purple;
  font-size: 18px;
  padding: 3px;
}

.candidateName{
  font-size: 24px;
  padding: 10px;
}

.candidateBox{
  border: 1px solid black;
  padding: 15px 10px;
  width: 470px;
  height: 600px;
  align-items: center;
  text-align: center;
}

/* .candidatePageContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 50%);
} */

.candidateList{
  grid-gap: 20px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: #555;
  opacity: 50%;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  /* bottom: 125%; 
  left: 50%;
  right: 50%;
  margin-left: -80px; */
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  /* top: 100%; */
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

#congratulations{
  width: 600px;
  padding: 10px;
  background-color:rgb(81, 114, 202);
  color: white;
  text-shadow: none;
  font-size: 22px;
  line-height: 1.2;
}

.searchBarContainer{
  width: 80%;
  border: 0.8px solid black;
  background-color: rgb(238, 244, 254);
  padding: 5px;
  margin-left: auto;  
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.searchbarForm {
  /* margin: 0 1rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 15px;
}

.searchbarForm h4 {
  padding-left: 4px;
  font-size: 22px;
}

#row1 input{
  width: 60%;
  margin-right: 25px;
}

#row2, #row1{
  width: 60%;
}

#row2 input {
  width: 30%;
  margin-right: 25px;
}

#row1{
  margin-top: 10px;
  margin-bottom: 10px;
}

.searchbarForm input {
  font-size: .9rem;
  height: 2.5rem;
  width: 50%;
  /* margin-right: 0.5rem; */
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 0.7rem;
}

.searchbarForm button {
  background: white;
  border: 1px solid black;
  border-radius: 3px;
  width: 100px;
  height: 2.5rem;
}

#moreInfoButton{
  height: 30px;
  font-size: 12px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}